# Eat Safe, Love

## Notebook Set Up

longitude=51.5072, latitude=-0.1276, maxdistancelimit=4567, pagesize=10000, sortoptionkey=distance, pagenumber=(1,2,3).

mongoimport --type json -d uk_food -c establishments --drop --jsonArray establishments.json

In [23]:

from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [24]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [25]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [26]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [27]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [28]:
# Find the establishments with a hygiene score of 20
# query =  {'scores.Hygiene': {'$eq':20}}

# Use count_documents to display the number of documents in the result

#results = establishments.count_documents(query)
#print('Number of documents with hygiene scores equal to 20: ', results)

# Display the first document in the results using pprint

#print("First result:")
#first_result = establishments.find(query)
#pprint(first_result[0])

#
query = {'scores.Hygiene': 20}
print("Number of documents in result: ", establishments.count_documents(query))
print("First result:")
results = establishments.find(query)
pprint(results[0])

Number of documents in result:  0
First result:

IndexError: no such item for Cursor instance

In [29]:
# Convert the result to a Pandas DataFrame
results_df = pd.DataFrame(first_result)

# Display the number of rows in the DataFrame
print("Rows in DataFrame: ", len(results_df))

# Display the first 10 rows of the DataFrame
results_df.head(10)

Rows in DataFrame:  0

Empty DataFrame
Columns: []
Index: []

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [30]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query2 = {'LocalAuthorityName': {'$regex': 'London'}, 
          'RatingValue': {'$gte': '4'}
         }

# Use count_documents to display the number of documents in the result
count2 = establishments.count_documents(query2)
print(f"There are {count2} establishments in London that have a RatingValue greater than or equal to 4.")

# Display the first document in the results using pprint
pprint(establishments.find_one(query2))

There are 0 establishments in London that have a RatingValue greater than or equal to 4.
None

In [31]:
# Convert the result to a Pandas DataFrame
df2 = pd.DataFrame(establishments.find(query2))

# Display the number of rows in the DataFrame
print(f"There are {len(df2)} rows in this DataFrame.")

# Display the first 10 rows of the DataFrame
df.head(10)

There are 0 rows in this DataFrame.

NameError: name 'df' is not defined

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [ ]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 51.490142
longitude = 0.08384

query3 = {'RatingValue': '5', 
         'geocode.latitude': {'$lte': (latitude + degree_search), '$gte': (latitude - degree_search)}, 
         'geocode.longitude': {'$lte': (longitude + degree_search), '$gte': (longitude - degree_search)} 
         }
sort =  [('scores.Hygiene', 1)]

# Print the results
for result in establishments.find(query3).sort(sort).limit(5):
    pprint(result)

In [ ]:
# Convert result to Pandas DataFrame
pd.DataFrame(establishments.find(query3).sort(sort).limit(5))

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [ ]:
# Create a pipeline that:
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest
match_query = {'$match': {'scores.Hygiene': 0}}
group_query = {'$group': {'_id': '$LocalAuthorityName', 
                          'count': {'$sum': 1}


sort_query = {'$sort': {'count': -1}}

pipeline = [match_query, group_query, sort_query]

results = list(establishments.aggregate(pipeline))
                          

                          
# Print the number of documents in the result
print(f"There are {len(results)} documents in the result.")
       
# Print the first 10 results
pprint(results[0:10])

In [ ]:
# Convert the result to a Pandas DataFrame
agg_df = pd.json_normalize(results)

# Display the number of rows in the DataFrame
print(f"There are {len(agg_df)} rows in the DataFrame.")

# Display the first 10 rows of the DataFrame
agg_df.head(10)